<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6" lang="en" >
<link th:href="@{/index.css}" rel="stylesheet"/>
<head th:replace="~{admin/fragments/head :: head}">

    <title> Admin </title></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{admin/fragments/header :: header}"></div>

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trang quản lý
                <small>Aobongda.net</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li> <a> News </a> </li>
            </ol>
        </section>

        <section class="content">
            <form style="font-size: 16px " th:object="${news}" th:action="@{addNews}" method="post" enctype="multipart/form-data" >
                <label for="title">Title:</label>
                <br>
                <input style="width: 70%" type="text" id="title" name="title" th:field="*{title}">

                <br>
                <label for="description">Description:</label>
                <br>
                <input style="width: 70%; height: 60px" type="text" id="description" name="description" th:field="*{description}">
                <br>

                <label for="image">Image:</label>
                <br>
                <input type="file" id="image" name="imageNews" >
                <br>

                <!--<label for="detail">Detail:</label>
                <br>
                <textarea name="detail" id="detail" th:field="*{detail}" > </textarea>
                <br>-->

                <p style="font-weight: bold">Detail :
                    </br>
                    <input name="detail" id="detail" style="width: 300px; height: 300px" type="file" th:field="*{detail}"/>
                </p>

                <br>
                <button type="submit" class="btn btn-success">Add</button>
            </form>


        </section>


    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{admin/fragments/footer :: footer}"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="~{admin/fragments/script :: script}"></div>
<script>
    ClassicEditor
        .create( document.querySelector( '#detail' ) )
        .then( editor => {
            console.log(editor.getData());
        } )
        .catch( error => {
            console.error( error );
        } );
    function getDataFromCKEditor() {
        const editorData = ClassicEditor.instances[0].getData();
        console.log(editorData);
    }
</script>
</body>
</html>
