<head th:fragments="head">
    <title>Aobongda.net</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/assets/home/css/bootstrap.min.css}">
    <link rel="apple-touch-icon" th:href="@{/assets/home/img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/home/img/logo.ico}" >

    <link rel="stylesheet" th:href="@{/assets/home/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/home/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/assets/home/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{/assets/home/css/fontawesome.min.css}">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>