
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6" lang="en" >
<head th:replace="~{home/fragments/head :: head}">
    <div th:replace="~{home/fragments/header :: header}">

    </div>
<body>
<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" th:object="${order}" th:action="@{checkout}" method="post" role="form">
            <div class="mb-3">
                <label for="customer">Tên khách hàng: </label>
                <input type="text" class="form-control mt-1" id="customer" name="customer" placeholder="Tên khách hàng">
            </div>
            <div class="mb-3">
                <label for="address">Địa chỉ: </label>
                <input type="text" class="form-control mt-1" id="address" name="address" placeholder="Địa chỉ">
            </div>
            <div class="mb-3">
                <label for="email">Email: </label>
                <input type="text" class="form-control mt-1" id="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="phone">Số điện thoại: </label>
                <input type="text" class="form-control mt-1" id="phone" name="phone" placeholder="Số điện thoại">
            </div>
            <div class="mb-3">
                <label for="typePayment">Phương thức thanh toán: </label>
                </br>
                <select id="typePayment" name="typePayment" >
                    <option value="1"> COD </option>
                    <option value="2"> Thanh toán online </option>
                </select>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Thanh toán</button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<div th:replace="~{home/fragments/footer :: footer}"></div>
<!-- Start Script -->
<div th:replace="~{home/fragments/script :: script}"></div>
<!-- End Script -->
</body>

</html>