<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6" lang="en" >
<link th:href="@{/index.css}" rel="stylesheet"/>
<head th:replace="admin/fragments/head :: head">

    <title> Admin </title></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{admin/fragments/header :: header}"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trang quản lý
                <small>Aobongda.net</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li> <a> Product Category </a> </li>
                <!--<li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>-->
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <h3>Danh mục </h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="content : ${contents}">
                    <td th:text="${content.id}"></td>
                    <td th:text="${content.name}"></td>
                    <td>
                        <a th:href="@{/admin/contents/updateContent/{id}(id=${content.id})}" class="button-update"> Update</a>
                        <a th:href="@{/admin/contents/deleteContent/{id}(id=${content.id})}" class="button-delete" >Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/admin/contents/addContent}" class="btnAdd"> Thêm mới</a>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->S

    <div th:replace="~{admin/fragments/footer :: footer}"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="~{admin/fragments/script :: script}"></div>

</body>
</html>
